<form method="post" action="{{ path('app_region_or_state_delete', {'id': region_or_state.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ region_or_state.id) }}">
    <button class="btn">Delete</button>
</form>
